@use "abstracts" as *;

.form-control {
    &__label {
        display: block;
        position: relative;
    }

    &__label-text {
        display: block;
        color: var(--color-text);
    }

    &__error-message {
        position: relative;
        padding-left: 24px;
        margin-top: 4px;
        color: var(--color-ui-error);

        &::before {
            display: inline-block;
            position: absolute;
            top: 2px;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--color-ui-error);
            color: #fff;
            font-size: 87.5%;
            font-weight: 900;
            text-align: center;
            content: "!";
        }
    }

    &--radio,
    &--checkbox {
        .form-control__input {
            appearance: none;
            -webkit-appearance: none;
            @include sr-only;

            &:checked+.form-control__label-text::after {
                opacity: 1;
            }
        }

        .form-control__label-text {
            margin-left: 32px;
            min-height: 24px;
            cursor: pointer;

            &::before,
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
            }

            &::before {
                width: 24px;
                height: 24px;
                border: 2px solid var(--color-border);
                background-color: var(--color-card-background);
            }

            &::after {
                width: 24px;
                height: 24px;
                background-color: var(--color-primary);
                opacity: 0;
                transition: opacity 140ms ease;
            }
        }
    }

    &--radio {
        .form-control__label-text {

            &::before,
            &::after {
                border-radius: 50%;
            }

            &::after {
                transform: scale(0.55);
            }
        }
    }

    &--checkbox {
        .form-control__label-text {

            &::before,
            &::after {
                border-radius: 4px;
            }
        }
    }

    &--text,
    &--textarea {
        .form-control__input {
            padding: 24px 16px 8px;
        }

        .form-control__label-text {
            position: absolute;
            top: 29px;
            left: 16px;
            transform: translateY(-50%);
            transition: all 200ms ease;
            pointer-events: none;
        }
    }

    &--label-floated {
        .form-control__label-text {
            top: 8px;
            transform: translateY(0);
            font-size: 87.5%;
            color: var(--color-text-muted);
        }
    }
}