<div class="form-control form-control--text" [class.form-control--label-floated]="isLabelFloated()">
    <label class="form-control__label">
        <input 
            class="form-control__input" 
            [name]="name()" 
            [type]="type()" 
            [disabled]="disabled" 
            [value]="value" 
            (input)="onInput(($any($event.target).value))" 
            (focusin)="onFocusIn()"
            (focusout)="onFocusOut()" 
            [attr.aria-invalid]="(isReadySignal() && isInvalid) ? 'true' : null"
            [attr.aria-describedby]="(isReadySignal() && errorList.length) ? errorId : null" autocomplete="off" />

        <span class="form-control__label-text">
            {{ label() }}
        </span>
    </label>

    @if (errorList.length === 1) {
        <p class="form-control__error-message" [id]="errorId" role="alert" aria-live="polite">
            {{ errorList[0] }}
        </p>
    } @else if (errorList.length > 1) {
        <ul class="form-control__error-list" [id]="errorId" role="alert" aria-live="polite">
            @for (errorMessage of errorList; track $index) {
                <li class="form-control__error-message">
                    {{ errorMessage }}
                </li>
            }
        </ul>
    }
</div>