<div class="form-control form-control--text" [class.form-control--label-floated]="isLabelFloated()">
    <label class="form-control__label">
        <input 
            class="form-control__input" 
            [name]="name()" 
            [type]="type()" 
            [formControl]="control()"
            (focusin)="onFocusIn()" 
            (focusout)="onFocusOut()"
            autocomplete="off"
        />

        <span class="form-control__label-text">
            {{ label() }}
        </span>
    </label>

    @if (errorMessage()) {
        <small class="form-control__error-message">
            {{ errorMessage() }}
        </small>
    }
</div>