@use "sass:map";

$palette-light: (
    neutral: (
        0:              #ffffff,
        50:             #f7f7f7,
        100:            #ededed,
        200:            #d9d9d9,
        300:            #bababa,
        900:            #0f0f0f
    ),

    brand: (
        primary:        #ffb770,
        secondary:      #ffcfa1,
        tertiary:       #35273a
    ),

    ui: (
        success:        #16a34a,
        info:           #2563eb,
        warning:        #d97706,
        error:          #dc2626
    ),

    accent: (
        highlight-50:   #faf5fe,
        highlight-100:  #f4e9fb,
        orange-washed:  #fee9d4
    )
);

$semantic-light: (
    primary: map.get(map.get($palette-light, brand), primary),
    secondary: map.get(map.get($palette-light, brand), secondary),
    tertiary: map.get(map.get($palette-light, brand), tertiary),

    ui-success: map.get(map.get($palette-light, ui), success),
    ui-info: map.get(map.get($palette-light, ui), info),
    ui-warning: map.get(map.get($palette-light, ui), warning),
    ui-error: map.get(map.get($palette-light, ui), error),

    surface: map.get(map.get($palette-light, neutral), 0),
    surface-subtle: map.get(map.get($palette-light, neutral), 50),
    focus-ring: map.get(map.get($palette-light, brand), primary),

    bg: (
        page: map.get(map.get($palette-light, neutral), 0),
        card: map.get(map.get($palette-light, neutral), 200),
        highlight: map.get(map.get($palette-light, accent), highlight-50)
    ),

    text: (
        default: map.get(map.get($palette-light, brand), tertiary),
        muted: map.get(map.get($palette-light, neutral), 300),
        inverse: map.get(map.get($palette-light, neutral), 0)
    ),

    border: (
        subtle: map.get(map.get($palette-light, neutral), 100),
        default: map.get(map.get($palette-light, neutral), 300)
    ),

    action: (
        primary: map.get(map.get($palette-light, brand), primary),
        secondary: map.get(map.get($palette-light, brand), secondary)
    )
);

$colors: (
    light: (
        palette: $palette-light,
        semantic: $semantic-light
    )
);
