@use "../functions" as *;
@use "sass:math";

$breakpoints: (
    sm: get-rem(0px),
    md: get-rem(768px),
    lg: get-rem(1280px)
) !default;

$grid-bps: (
    md,
    lg
) !default;

$grid-columns: 12 !default;
$grid-offset-max: math.div($grid-columns, 2) !default;

$grid-gap: (
    sm: get-rem(16px),
    md: get-rem(20px),
    lg: get-rem(24px)
) !default;

$grid-padding-x: (
    sm: get-rem(8px),
    md: get-rem(16px),
    lg: get-rem(24px)
) !default;

$grid-content-max-widths: (
    sm: get-rem(560px),
    md: get-rem(720px),
    lg: get-rem(1024px)
) !default;

$grid-breakout-content-max-widths: (
    sm: get-rem(640px),
    md: get-rem(960px),
    lg: get-rem(1220px)
) !default;