@use "../functions" as *;

$font-family-body:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-heading:   "Open Sans", sans-serif !default;
$font-family-mono:      "Courier New", Courier, monospace !default;

$font-size-body-mobile:     get-rem(16px) !default;
$font-size-body-tablet:     get-rem(16px) !default;
$font-size-body-desktop:    get-rem(16px) !default;

$font-size-h1-mobile:       get-rem(32px) !default;
$font-size-h1-tablet:       get-rem(40px) !default;
$font-size-h1-desktop:      get-rem(48px) !default;

$font-size-h2-mobile:       get-rem(24px) !default;
$font-size-h2-tablet:       get-rem(32px) !default;
$font-size-h2-desktop:      get-rem(40px) !default;

$font-size-h3-mobile:       get-rem(20px) !default;
$font-size-h3-tablet:       get-rem(24px) !default;
$font-size-h3-desktop:      get-rem(32px) !default;

$font-size-h4-mobile:       get-rem(20px) !default;
$font-size-h4-tablet:       get-rem(24px) !default;
$font-size-h4-desktop:      get-rem(32px) !default;

$font-size-h5-mobile:       get-rem(20px) !default;
$font-size-h5-tablet:       get-rem(24px) !default;
$font-size-h5-desktop:      get-rem(32px) !default;

$font-size-h6-mobile:       get-rem(20px) !default;
$font-size-h6-tablet:       get-rem(24px) !default;
$font-size-h6-desktop:      get-rem(32px) !default;

$font-weight-thin:          100 !default;
$font-weight-extralight:    200 !default;
$font-weight-light:         300 !default;
$font-weight-regular:       400 !default;
$font-weight-medium:        500 !default;
$font-weight-semibold:      600 !default;
$font-weight-bold:          700 !default;
$font-weight-extrabold:     800 !default;
$font-weight-black:         900 !default;

$line-height-tight:         1.15 !default;
$line-height-body:          1.5  !default;
$line-height-heading:       1.25 !default;

$heading-sizes: (
    h1: (
        m: $font-size-h1-mobile,
        t: $font-size-h1-tablet,
        d: $font-size-h1-desktop
    ),
    h2: (
        m: $font-size-h2-mobile,
        t: $font-size-h2-tablet,
        d: $font-size-h2-desktop
    ),
    h3: (
        m: $font-size-h3-mobile,
        t: $font-size-h3-tablet,
        d: $font-size-h3-desktop
    ),
    h4: (
        m: $font-size-h4-mobile,
        t: $font-size-h4-tablet,
        d: $font-size-h4-desktop
    ),
    h5: (
        m: $font-size-h5-mobile,
        t: $font-size-h5-tablet,
        d: $font-size-h5-desktop
    ),
    h6: (
        m: $font-size-h6-mobile,
        t: $font-size-h6-tablet,
        d: $font-size-h6-desktop
    )
) !default;