<div class="form-control form-control--checkbox-group">
    <div class="form-control__label">
        <span class="form-control__label-text">
            {{ label() }}
        </span>
    </div>

    <div class="form-control__group">
        <ng-content />
    </div>

    @if (errorList.length === 1) {
        <p class="form-control__error-message" [id]="errorId" role="alert" aria-live="polite">
            {{ errorList[0] }}
        </p>
    } @else if (errorList.length > 1) {
        <ul class="form-control__error-list" [id]="errorId" role="alert" aria-live="polite">
            @for (errorMessage of errorList; track $index) {
                <li class="form-control__error-message">
                    {{ errorMessage }}
                </li>
            }
        </ul>
    }
</div>
