@use "../functions" as *;

@mixin breakpoint($size) {
    $breakpoint: breakpoint-value($size);

    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    $breakpoint: breakpoint-value($size);
    $max: breakpoint-max($breakpoint);

    @media screen and (max-width: $max) {
        @content;
    }
}

@mixin breakpoint-between($min, $max) {
    $min-breakpoint: breakpoint-value($min);
    $max-breakpoint: breakpoint-max(breakpoint-value($max));

    @media screen and (min-width: $min-breakpoint) and (max-width: $max-breakpoint) {
        @content;
    }
}