@mixin flex($direction: row, $wrap: wrap, $justify: flex-start, $align-items: stretch, $align-content: stretch, $gap: null) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align-items;
    align-content: $align-content;

    @if $gap !=null {
        gap: $gap;
    }
}