@use "abstracts" as *;

a[href], .link {
    padding-bottom: 0.15em;
    background-image: linear-gradient(currentColor, currentColor), linear-gradient(var(--color-primary), var(--color-primary));
    background-repeat: no-repeat;
    background-position: 100% 100%, 0 100%;
    background-size: 100% 2px, 100% 2px;
    color: inherit;
    text-decoration: none;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    transition: background-size $transition-time-regular $transition-ease-default, color $transition-time-regular $transition-ease-default;

    @include hoverable {
        &:hover {
            color: var(--color-primary);
            background-size: 0% 2px, 100% 2px;
        }
    }

    &:focus-visible {
        color: var(--color-primary);
        background-size: 0% 2px, 100% 2px;
    }
}

.link--no-decoration {
    padding-bottom: 0;
    background-image: none;
}

@media (forced-colors: active) {
    a[href], .link {
        text-decoration: underline;
        background-image: none;
        padding-bottom: 0;
        transition: none;
    }

    .link--no-decoration {
        text-decoration: none;
    }
}