@use "abstracts" as *;

table {
    width: 100%;
}

caption {
    text-align: left;
    margin-bottom: 0.5rem;
    color: var(--color-text-muted);
    font-size: 0.875em;
}

th, td {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--color-border);
    vertical-align: top;
    text-align: left;
}

th {
    background-color: var(--color-highlight-background);
    color: var(--color-text);
    font-weight: $font-weight-semibold;
}

thead th {
    border-bottom-color: var(--color-card-border);
}